

@media only screen and (max-width:320px){
    .firstsection1{
        width : 30%;
    }
    #thirdsection1 {
        width : 20%;
    }
    #fourthsection {
        width: 20%;
    }
    #sixthsection {
        width: 20%
    }
}
body {
    font-family: 'Varela Round', sans-serif;
 
}
#firstsection {
    border: 1px solid white;
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    color:white;
    background-size: cover;
    text-align: center;
    box-sizing: content-box;  
    width: 1200px;
    height: 600px;
    padding: 30px;
}
.firstsection1 {
    position: relative;
    bottom: -190px;
    font-size: 20px;
    left: -32px;
}
#h1welc {
    position: relative;
    bottom: -30px;
}
#h1to {
    position: relative;
    bottom: -40px;
}
#h6amaz {
    position: relative;
    bottom: -40px;
    font-size: 15px;
}
#mousepoint {
    position: relative;
    bottom: -142px;
}
#secondsection {
    text-align: center;
    margin: auto;
}
#thirdsection {
    border: 1px solid white;
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
    text-align: center;
    background-size: cover;
    color: white;
    box-sizing: content-box;  
    width: 1200px;
    height: 300px;
    padding: 30px;
    font-size: 15px; 
}
.thirdsection1 {
    position: relative;
    bottom: -78px;
    font-size: 15px;
}
#fourthsection {
    text-align: center;
}
#icons {
    border: 1px solid white;
    position: relative;
    bottom: -18px;
    width: 1130px;
}
.hidethem {
    display: none;
}
#fifthsection {
    text-align: center;
    position: relative;
    width:  84%;
    margin: auto;
    bottom: -70px;
}
.col-md-3 :hover {
    background-color: white;
    opacity: 0.3;
}
#hideit1 {
    display: none;
}
.hide1 {
    color:black;
    margin-top:-89px;
   
}
#hideit2 {
    display: none;
}
.hide2 {
    color:black;
    margin-top:-89px;
}
#hideit3 {
    display: none;
}
.hide3 {
    color:black;
    margin-top:-89px;
}
#hideit4{
    display: none;
}
.hide4 {
    color:black;
    margin-top:-89px;
}
#hideit5 {
    display: none;
}
.hide5 {
    color:black;
    margin-top:-89px;
}
#hideit6 {
    display: none;
}
.hide6 {
    color:black;
    margin-top:-89px;
}
#hideit7 {
    display: none;
}
.hide7 {
    color:black;
    margin-top:-89px;
}
#hideit8 {
    display: none;
}
.hide8 {
    color:black;
    margin-top: -84px;
    /* border: 2px solid black; */
    /* height :135px; */
    /* width: 200px; */
    /* position: relative; */
    /* top : -30px; */
}
#movedown {
    position: relative;
    bottom: -40px;
    
}
#sixthsection {
    border: 1px solid white;
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    color: white;
    box-sizing: content-box;  
    width: 1200px;
    height: 400px;
    padding: 30px;
    background-size: contain; 
    text-align: center;   
    position: relative;
    bottom: -150px;
}
form input{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    color: white;
}
#firstinputs {
   position: relative;
   bottom: -30px; 
}
#inpput1 {
    width: 378px;
    position: relative;
    right: -79px;
    font-size: 14px;
    background-color:transparent;
}
#input2 {
    width: 378px;
    position: relative;
    right: 120px;
    font-size: 14px;
    background-color:transparent;
}
#thirdinput {
    width: 785px;
    position: relative;
    bottom: -39px;
    right: 11px;
    height: 200px;
    text-align: initial;
    font-size: 14px;
    background-color:transparent;
    color: white;
}
#btn-submit {
    position: relative;
    bottom: -90px;
}
#lastp {
    display: none;
    font-weight: 700;
    
    position: relative;
    bottom: -17px;
}
#seventhsection {
    position: relative;
    bottom: -180px;
    margin: auto;
    text-align: center;
    width: 1100px;
}
#last {
    position: relative;
    bottom: -30px;
}