#firstsection {
    border: 1px solid white;
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    color:white;
    background-size: contain;
}
#secondsection {
    text-align: center;
}
#thirdsection {
    border: 1px solid white;
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
    text-align: center;
    color: white;
}
#fourthsection {
    text-align: center;
}
#fifthsection {
    text-align: center;
}
#movedown {
    position: relative;
    bottom: -40px;
}
#sixthsection {
    border: 1px solid white;
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    color: white;
    box-sizing: content-box;  
    width: 1200px;
    height: 400px;
    padding: 30px;
    background-size: contain; 
    text-align: center;   
    position: relative;
    bottom: -70px;
}
form input{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    color: white;
}
#firstinputs {
   position: relative;
   bottom: -30px; 
}
#inpput1 {
    width: 378px;
    position: relative;
    right: -79px;
    font-size: 14px;
    background-color:transparent;
}
#input2 {
    width: 378px;
    position: relative;
    right: 120px;
    font-size: 14px;
    background-color:transparent;
}
#thirdinput {
    width: 785px;
    position: relative;
    bottom: -39px;
    right: 11px;
    height: 200px;
    text-align: initial;
    font-size: 14px;
    background-color:transparent;
    color: white;
}
#seventhsection {
    position: relative;
    bottom: -70px;
}
#last {
    position: relative;
    bottom: -70px;
}